In [7]:
import mysql.connector

chartdb = mysql.connector.connect(
    host = "songdb.ck45skw5jvl2.ap-northeast-2.rds.amazonaws.com",
    user = "geonho_sojeong",
    password = "geonho&sojeong",
    database = "chart"
)

cursor = chartdb.cursor()

In [9]:
cursor.execute('''SELECT  *
                  FROM    dailychart
                ''')

result = cursor.fetchall()
result

[(datetime.datetime(2021, 7, 1, 17, 0), '93619160', 1),
 (datetime.datetime(2021, 7, 1, 17, 0), '93569588', 2),
 (datetime.datetime(2017, 7, 1, 17, 0), '93619161', 3),
 (datetime.datetime(2021, 7, 1, 17, 0), '93330349', 4),
 (datetime.datetime(2021, 7, 1, 17, 0), '93300145', 5)]